*{
    font-family: Lato, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main{
    margin: 0% 3%;
}
.header{
    color:  white;
    background-color: #283618ff;
    font-size: 3rem;
    padding: 1.9%;
    font-family: Pacifico, sans-serif;
   
}
.home{
    margin: 2% 1% 10% 1%;
    font-weight: bolder;
    font-size: 2rem;
    border: none;
    background: none;
    
}
a{
    color: #606c38ff;
    text-decoration: none;
}
a:hover{
    color: #283618ff;
    text-decoration: none;
}
.titulo{
   
    margin-bottom: 2%;
    font-weight: bolder;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #606c38ff;
}
img{
    border-radius: 1.5rem 5rem 3rem 0.5rem;
    width: 40%;
    height: auto;
}
h3{
    margin: 2% -1%;
    text-decoration: underline;
    text-decoration-color: #606c38ff;
    text-decoration-thickness: 4px;
}
.footer{
    background-color: #283618ff;
    text-align: center;
    font-style: italic;
    padding: 1.9%;
    margin-top: 10%;
    color: white;
}
